{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 112,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": true,
  "bracketSpacing": true
}
